.btn-login, .btn-signup {
    background-color: #2c3e50;
    color: white;
}
.btn-login:hover, .btn-signup:hover {
    background-color: #f5a601;
    color: white;

}

 .nav-link:hover {
    color: #f5a601 !important;
}
body{
    background-color: #ffffff;
}
.hedder-container{
    background-color:#8AAAE5;
}